legacy-peer-deps=true
shamefully-hoist=true
onlyBuiltDependencies[]=contentlayer
onlyBuiltDependencies[]=cypress
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver